@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-xl;
    }
}

nav a.active{
  text-decoration: none;
  color:purple;
}

Link{
  text-decoration: none;
  color:purple;
}

